.llh-book-widget-main {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.llh-book-widget {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg,  #b9cfff 60%, #0f46df 0%); 
  padding: 40px 20px;
  border-radius: 16px;
  max-width:900px;
  width:100%;
    font-family: 'Fira Code';
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  
  color: #000;
}

.llh-book-left {
  flex: 1;
  min-width: 280px;
  max-width: 500px;
  padding: 20px;
}

.llh-book-left h3 {
  font-size: 55px;
  
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.llh-book-left p {
  font-size: 18px;
  font-family: 'Montserrat Alternates' !important;
  margin-bottom: 25px;
  line-height: 1.5;
}

.llh-reserve-button {
  display: inline-block;
  background-color: #ffffff;
  color: #000;
  padding: 14px 24px;
  font-family: 'DM Sans' !important;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.llh-reserve-button:hover {
  background-color: #1f00e6;
  color: #ffffff;
}

.llh-book-right {
  flex: 1;
  min-width: 250px;
  max-width: 400px;
  text-align: center;
  padding: 20px;
}

.llh-book-right img {
  width: 100%;
  max-width: 350px;
  /* transform: rotate(-8deg); */
  border-radius: 8px;
  
}
@media screen and (max-width: 768px) {
  .llh-book-widget {
    background:  #0f46df ;
    flex-direction: column;
    padding: 30px 16px;
    border-radius: 12px;
  }

  .llh-book-left, .llh-book-right {
    max-width: 100%;
    text-align: center;
    padding: 16px;
  }

  .llh-book-left h3 {
    font-size: 32px;
    color : white;
    line-height: 1.2;
  }

  .llh-book-left p {
    font-size: 16px;
        color : white;
    margin-bottom: 20px;
  }

  .llh-reserve-button {
    
    padding: 12px 20px;
    font-size: 15px;
  }

  .llh-reserve-button:hover {
  background-color: #7e8fff;
  color: #000000;
}


  .llh-book-right img {
    max-width: 260px;
    margin: 0 auto;
  }
}
